<h2>SMS Notification</h2>

<div class="row">

    <div class="col-md-3">
        <a asp-action="SendSMS" class="btn btn-primary w-100">
            Send SMS
        </a>
    </div>

    <div class="col-md-3">
        <a asp-action="SMSHistory" class="btn btn-success w-100">
            SMS History
        </a>
    </div>

</div>