@page "{id:int}"
@model school_management_system.Pages.ExamRoutines.DeleteModel

<h2>Delete Routine</h2>
<div>
    <h4>Are you sure?</h4>
    <dl class="row">
        <dt class="col-sm-2">Exam</dt>
        <dd class="col-sm-10">@Model.Routine.Exam?.ExamName</dd>
        <dt class="col-sm-2">Subject</dt>
        <dd class="col-sm-10">@Model.Routine.Subject?.SubjectName</dd>
    </dl>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>